<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图片上传</title>
</head>
<body>
        <form action="/upload" method="post" enctype="multipart/form-data" >
            <input type="file" name="file" accept="*/*" >
            <br/><br/><br/>
            <input type="submit" value="点击上传">
        </form>
           <a href="/index">回到首页</a>
</body>
</html>